<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
	</head>
	<body>
		{{> body }}

		<script src="./js/monotype.js"></script>
		<script>
			var monotype = new MonoType('#monotype-example-1');

			monotype.init()
		</script>
	</body>
</html>
