<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
		<link rel="stylesheet" href="./css/index.css">
	</head>
	<body>
		{{> body }}

		<script src="./js/monotype.js"></script>
		<script>
			var monotype = new Monotype('#monotype');

			monotype
				.typeAll()
				.then(() => {
					return monotype.wait()
				})
				.then(() => {
					return monotype.deleteAll()
				})
		</script>
	</body>
</html>
